doctype html
html(lang='en')
    head
        meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
        meta(charset='utf-8')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
        link(rel='stylesheet', href='/css/style.min.css')
        title Roche e-Detailling
        meta(name='description', content='Roche project')
        meta(name='keywords', content='WebRTC,RTCMultiConnection')
    body
        block content

    script(src='/socket.io/socket.io.js')
    script(src='/js/bundle.js')