/* Common button styles */
@import "Variables";
.button {
  min-width: 150px;
  max-width: 250px;
  display: block;
  padding: 1em 2em;
  border: none;
  background: none;
  color: #ffffff;
  vertical-align: middle;
  position: relative;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
.button:focus {
  outline: none;
}
.button > span {
  vertical-align: middle;
}

/* Sizes */
.button--size-s {
  font-size: 14px;
}
.button--size-m {
  font-size: 16px;
}
.button--size-l {
  font-size: 18px;
}

/* Typography and Roundedness */
.button--text-upper {
  letter-spacing: 2px;
  text-transform: uppercase;
}
.button--text-thin {
  font-weight: 300;
}
.button--text-medium {
  font-weight: 500;
}
.button--text-thick {
  font-weight: 600;
}
.button--round-s {
  border-radius: 5px;
}
.button--round-m {
  border-radius: 15px;
}
.button--round-l {
  border-radius: 40px;
}

/* Borders */
.button--border-thin {
  border: 1px solid;
}
.button--border-medium {
  border: 2px solid;
}
.button--border-thick {
  border: 3px solid;
}


/* Antiman */
.button--antiman {
  background: none;
  border: none;
  height: 60px;
}
.button--antiman.button--inverted,
.button--antiman.button--inverted-alt {
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}
.button--antiman > span {
  padding-left: 0.35em;
}
.button--antiman::before,
.button--antiman::after {
  content: '';
  z-index: -1;
  border-radius: inherit;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}
.button--antiman::before {
  border: 2px solid #37474f;
  opacity: 0;
  -webkit-transform: scale3d(1.2, 1.2, 1);
  transform: scale3d(1.2, 1.2, 1);
}
.button--antiman.button--border-thin::before {
  border-width: 1px;
}
.button--antiman.button--border-medium::before {
  border-width: 2px;
}
.button--antiman.button--border-thick::before {
  border-width: 3px;
}
.button--antiman.button--inverted::before {
  border-color: $color-main;
}
.button--antiman::after {
  background: #fff;
}
.button--antiman.button--inverted::after {
  background: $color-main;
}
.button--antiman.button--inverted:hover {
  color: $color-main;
}

.button--antiman:hover::before {
  opacity: 1;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}
.button--antiman:hover::after {
  opacity: 0;
  -webkit-transform: scale3d(0.8, 0.8, 1);
  transform: scale3d(0.8, 0.8, 1);
}

.tool_collapse--btn {
  position: absolute;
  bottom: 15px;
  width: 50px;
  height: 50px;
  left: 36px;
  padding: 0;
  border-radius: 50%;
  border: none;
  outline: none;
  background: rgba(31, 135, 200, 0.90);
  color: #fff;
  font-size: 16px;
  transition: 0.3s;
  &:hover{
    background: rgba(31, 135, 200, 1);
  }
}
