@import url('https://fonts.googleapis.com/css?family=Numans');
@import url('https://fonts.googleapis.com/css?family=Averia+Sans+Libre');
$color-1: #594F4F;
$color-2: #547980;
$color-3: #45ADA8;
$color-4: #9DE0AD;
$color-5: #E5FCC2;
$main-grey: #333333;
$color-main: #0279c1;
$main-red: #f35f5e;
$numans : 'Numans', sans-serif;
$averia : 'Averia Sans Libre', cursive;

